<html>
<head>
    <meta charset="utf-8"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <div>
        {{ people[0].name }} {{ people[0].age }}
        {{ people[1].name }} {{ people[1].age }}
        {{ people[2].name }} {{ people[2].age }}
    </div>

    <!-- List에서 고유한 값을 key로 넣어주어야 한다. 일반적으로 id-->
    <div v-for="person in people" :key="person.name">
        {{ person.name }} {{ person.age }}
    </div>

    <!-- 고유한 value가 없다면 임의로 고유한 값을 만들어 주어야 한다.
        index 사용 지양 - 중간에 value가 사라지면 index가 변경된다. 즉 고유하지 않음 -->
    <div v-for="{person, index} in people" :key="person.name + '-' + person.age">
        {{ person.name }} {{ person.age }}
    </div>
</div>
<script>
    new Vue({
        el: "#app",
        data: {
            people: [
                {name: 'aa', age: 10},
                {name: 'bb', age: 11},
                {name: 'cc', age: 12}
            ]
        },
        methods: {}
    })
</script>
</body>
</html>